/* Home Page */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "italic";
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 109, 112);
  color: white;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 80px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;

  color: white;
  font-size: 20px;
  margin-inline: 22px;
}
ul li a:hover {
  background-color: aliceblue;
  color: blueviolet;
}
.logo {
  font-size: 22px;
}
.logo a {
  text-decoration: none;
}
.logo a h1 {
  text-decoration: none;
  color: white;
  list-style: none;
  padding-left: 40px;
  font-family: "italic", Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(0, 109, 112);
  padding: 40px;
}
.main img {
  width: 700px;
  animation-name: none;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  flex-wrap: wrap;
}
.maintext {
  margin-top: 45px;
  color: white;
  margin-left: 50px;
}
.maintext:hover {
  background-color: white;
  color: rgb(0, 109, 112);
}

.maintext h1 {
  font-size: 65px;
}
.maintext p {
  margin-top: 22px;
}
.maintext button {
  margin-top: 22px;
  width: 140px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
}
.maintext button:hover {
  color: black;
  background-color: #edecec;
}
/* Service's page */
.head {
  text-align: center;
  padding: 88px;
}
.service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
.service .serviceCard {
  padding: 22px;
  width: 170px;
  border: 4px solid black;
  text-align: center;
  margin-inline: 22px;
  font-size: 50px;
  background-color: rgb(0, 100, 100);
  color: white;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: 22px;
  text-decoration: none;
  list-style: none;
}
.serviceCard:hover {
  background-color: orange;
}
.serviceCard p {
  font-size: 11px;
  font-weight: 10px;
  text-decoration: none;
  list-style: none;
}
.serviceCard img p {
  text-decoration: none;
  list-style: none;
}
p {
  text-decoration: none;
  list-style: none;
}
.service a .serviceCard p {
  text-decoration: none;
  list-style: none;
}
.image {
  height: 50px;
  background-color: aqua;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
}
.image p {
  font-size: 20px;
  text-decoration: none;
}
/* Doctor's Page */
.doctors {
  background-color: white;
  margin: 0px 30px;
  padding: 20px;
  margin-bottom: 15px;
}
.team {
  display: flex;
  overflow: auto;
  gap: 20px;
  margin-top: 10px;
}
.team img {
  height: 350px;
  width: 350px;
}
.team img::-webkit-scrollbar {
  display: none;
}
/* Blog Page */
.trans {
  background-color: transparent;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blogCard {
  width: 250px;
  padding: 20px;
  padding-top: 30px;
  color: white;
  background-color: rgb(1, 75, 75);
  text-align: center;
  margin-inline: 22px;
  margin: 22px;
}
.blogCard:hover {
  background-color: white;
  color: black;
}
.blogCard img {
  width: 100%;
  height: 250px;
}
.blogCard a {
  padding: 0px 15px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  background-color: black;
  padding-bottom: 2px;
}
/* Appointment Page */
.form {
  width: 400px;
  text-align: center;
  padding: 22px;
  margin: auto;
  background-color: #edecec;
  justify-content: center;
}
.form:hover {
  background-color: orange;
}
.form input {
  width: 90%;
  font-size: 20px;
  padding: 10px;
  margin-top: 22px;
  text-align: center;
}
.form button {
  width: 140px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  margin-top: 15px;
}
.form button:hover {
  background-color: white;
  color: black;
}
.footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  background-color: black;
  color: white;
  padding-top: 80px;
  flex-wrap: wrap;
}
.footer p {
  margin-top: 22px;
  font-size: 15px;
}
.text a p {
  align-items: center;
}
.text a {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}
.text a p:hover {
  background-color: rgb(96, 231, 231);
  color: black;
}
.deep:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 1120px) {
  .main {
    display: block;
    text-align: center;
  }
  .maintext {
    margin-left: 40px;
  }
}

@media screen and (max-width: 850px) {
  .doctors {
    width: 90%;
  }
  .team img {
    width: 200px;
    margin-inline: 10px;
  }
}
@media screen and (max-width: 760px) {
  .team img {
    width: 150px;
    height: 200px;
    margin-inline: 10px;
  }
}
@media screen and (max-width: 570px) {
  .team img {
    width: 30%;
    height: 120px;
    margin-inline: 5px;
  }
  .form {
    width: 76%;
  }
}

@media screen and (max-width: 795px) {
  .main img {
    width: 90%;
  }
}
@media screen and (max-width: 570px) {
  .footer .text a p {
    font-size: x-small;
  }
  .footer .text h2 {
    font-size: small;
  }
  .footer .text p {
    font-size: x-small;
  }
  .footer {
    height: 630px;
  }
}
@media screen and (max-width: 620px) {
  .main h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .logo a h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 330px) {
  .footer .text a p {
    font-size: xx-small;
  }
  .footer .text h2 {
    font-size: x-small;
  }
  .footer .text p {
    font-size: xx-small;
  }
  .footer {
    height: 600px;
  }
}
@media screen and (max-width: 280px) {
  .footer {
    height: 380px;
  }
}

@media screen and (max-width: 925px) {
  .logo a h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 920px) {
  ul li a {
    margin-inline: 20px;
    font-size: 17px;
  }
  .logo a h1 {
    padding-left: 20px;
  }
}
@media screen and (max-width: 760px) {
  ul li a {
    margin-inline: 15px;
    font-size: 10px;
  }
  .logo a h1 {
    padding-left: 10px;
    font-size: 20px;
    font-family: "italic";
  }
}
@media screen and (max-width: 475px) {
  ul li a {
    margin-inline: 8px;
    font-size: 10px;
  }
  .logo a h1 {
    padding-left: 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 385px) {
  ul li a {
    margin-inline: 5px;
    font-size: 8px;
  }
  .logo a h1 {
    padding-left: 8px;
    font-size: 13px;
  }
}
@media screen and (max-width: 305px) {
  ul li a {
    margin-inline: 4px;
    font-size: 8px;
  }
  .logo a h1 {
    padding-left: 6px;
    font-size: 11px;
  }
}
@media screen and (max-width: 290px) {
  .learn {
    width: 30px;
    height: 20px;
  }
}
